/*.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}*/
.icon{
	width: 105px;
	position: relative;
	display: inline-block;
}
.hoverimg{
	width: 73%;
}
.icon span{
	width: 300px;
	background:white;
	color: black;
	padding: 10px 0;
	text-align: center;
	border-radius: 4px;
	display: block;
	margin-left: -83px;
	position: relative;
	opacity: 0;
	transition: 0.6s opacity;
	margin-top: 5px;
	border: 3px solid #BCE24F;
}
.icon span:before{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	top:-5px;
	background:white;
	z-index: -1;
	left: 45%;
	transform: translateX(-50%) rotate(45deg);
}
.icon:hover > span{
	opacity: 1;
}
.hoverdiv{
	background-image:url(hbg5.png);
	background-size: cover;
	height: 400px;
	margin-top: -50px;
	text-align: center;
}
.hoverh1{
	font-size: 50px;
    padding-top: 70px;
    color: white
}
.hoverp{
	    font-size: 25px;
	    color: white;
}
.box{
	padding-top: 40px;
}